{% extends "./base.html" %}

{% block title %}
    {% if tag %}
        标签页：{{ tag.name }}
    {% endif %}
    {% if category %}
        分类页：{{ category.name }}
    {% endif %}
{% endblock %}

{% block main %}
    <ul>
        {% for article in article_ls %}
            <li>
                <a href="{% url 'article-detail' article.id %}">{{ article.title }}</a>
                <div>
                    <span>作者:{{ article.owner.username }}</span>
                    <span>分类：{{ article.category.name }}</span>
                </div>
                <p>{{ article.desc }}</p>
            </li>
        {% endfor %}

        {% if page_obj %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}





































